@import url('null.css');

/*-------------------- Подключение шрифтов ----------------------*/
@font-face {
	font-family: 'name';
	src: url('../') format('woff2'), url('../') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/*[class*="__container"] {
	margin: 0px auto;
	max-width: 1024px;
} СЕЛЕКТОР АТРИБУТА ДЛЯ КОНТЕЙНЕРА*/

.auto {
	padding: 200px 0 0 0;
}
.auto__container {
	max-width: 1300px;
	margin: 0 auto;
	min-height: 400px;
	position: relative;
}
.auto__wheel-1 {
	width: 192px;
	height: 192px;
	background-color: #1b1b1d;
	border-radius: 50%;
	/*border: 4px solid #070707;*/
	box-shadow: inset 10px 10px 20px #1b1b1d;
	display: inline-block;
	position: relative;
	left: 10%;
	z-index: 4;
}
.auto__wheel-2 {
	width: 192px;
	height: 192px;
	background-color: #1b1b1d;
	border-radius: 50%;
	/*border: 4px solid #070707;*/
	box-shadow: inset 10px 10px 20px #1b1b1d;
	display: inline-block;
	position: relative;
	left: 57%;
	z-index: 4;
}
.auto__disk {
	background-color: #1b1b1d;
	border: 4px solid #c3c5c4;
	width: 153px;
	height: 153px;
	border-radius: 50%;
	transform: translate(19px, 19px);
}
.auto__brake-disk {
	height: 119px;
	width: 119px;
	border-radius: 50%;
	background-color: #828282;
	outline: 1px solid #424242;
	outline-offset: -7px;
	transform: translate(13px, 13px);
	position: relative;
	z-index: 2;
}
.auto__mounting-wheels {
	height: 44px;
	width: 44px;
	border-radius: 50%;
	background-color: #c3c5c4;
	outline: 2px solid #464646;
	outline-offset: -7px;
	border: 2px solid #464646;
	transform: translate(38px, 38px);
	position: relative;
	z-index: 2;
}
.auto__spokes-1 {
	width: 0;
	height: 0;
	border-top: 55px solid #c3c5c4;
	border-bottom: 15px solid rgba(25, 0, 255, 0);
	border-left: 15px solid rgba(25, 0, 255, 0);
	border-right: 15px solid rgba(25, 0, 255, 0);
	position: absolute;
	top: -55px;
	left: 5px;
	z-index: 2;
}
.auto__spokes-2 {
	width: 0;
	height: 0;
	border-top: 55px solid #c3c5c4;
	border-bottom: 15px solid rgba(25, 0, 255, 0);
	border-left: 15px solid rgba(25, 0, 255, 0);
	border-right: 15px solid rgba(25, 0, 255, 0);
	position: absolute;
	top: -30px;
	left: -32px;
	transform: rotate(-70deg);
	z-index: 2;
}
.auto__spokes-3 {
	width: 0;
	height: 0;
	border-top: 55px solid #c3c5c4;
	border-bottom: 15px solid rgba(25, 0, 255, 0);
	border-left: 15px solid rgba(25, 0, 255, 0);
	border-right: 15px solid rgba(25, 0, 255, 0);
	position: absolute;
	top: -30px;
	left: 41px;
	transform: rotate(70deg);
	z-index: 2;
}
.auto__spokes-4 {
	width: 0;
	height: 0;
	border-top: 55px solid #c3c5c4;
	border-bottom: 15px solid rgba(25, 0, 255, 0);
	border-left: 15px solid rgba(25, 0, 255, 0);
	border-right: 15px solid rgba(25, 0, 255, 0);
	position: absolute;
	top: 14px;
	left: 31px;
	transform: rotate(140deg);
	z-index: 2;
}
.auto__spokes-5 {
	width: 0;
	height: 0;
	border-top: 55px solid #c3c5c4;
	border-bottom: 15px solid rgba(25, 0, 255, 0);
	border-left: 15px solid rgba(25, 0, 255, 0);
	border-right: 15px solid rgba(25, 0, 255, 0);
	position: absolute;
	top: 14.5px;
	left: -21px;
	transform: rotate(-140deg);
	z-index: 2;
}
.auto__support {
	width: 50px;
	height: 25px;
	background-color: #d62d34;
	transform: rotate(30deg);
	position: absolute;
	top: -38px;
	left: 20px;
	z-index: 1;
	border-radius: 18% 82% 7% 93% / 100% 36% 64% 0%;
	display: flex;
	align-items: center;
	padding: 0px 0px 0px 3px;
	position: relative;
}
.auto__support::after {
	content: '';
	height: 2px;
	width: 100%;
	background-color: #ce1319;
	position: absolute;
	top: 20px;
	left: 0;
}
.auto__support p {
	font-size: 11px;
	z-index: 1;
}
.auto__support-2 {
	width: 50px;
	height: 25px;
	background-color: #d62d34;
	transform: rotate(200deg);
	position: absolute;
	top: 57px;
	left: -23px;
	z-index: 1;
	border-radius: 18% 82% 7% 93% / 100% 36% 64% 0%;
	display: flex;
	align-items: center;
	padding: 0px 0px 0px 3px;
	position: relative;
}
.auto__support-2::after {
	content: '';
	height: 2px;
	width: 100%;
	background-color: #ce1319;
	position: absolute;
	top: 20px;
	left: 0;
}
.auto__support-2 p {
	font-size: 11px;
	z-index: 1;
}

.auto__front {
	width: 435px;
	height: 235px;
	border-radius: 368px 0px 0px 250px / 128px 0px 0px 56px;
	background-color: #434774;
	position: relative;
	top: 160px;
}
.auto__front::before {
	content: '';
	position: absolute;
	top: 160px;
	left: 1px;
	background-color: #2f3252;
	width: 120px;
	height: 2px;
}
.auto__front::after {
	content: '';
	width: 20px;
	height: 30px;
	border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
	background-color: #1b1b1d;
	position: absolute;
	top: 130px;
	left: 1px;
	transform: rotate(180deg);
}
.front-auto__fara {
	width: 105px;
	height: 35px;
	border-radius: 53% 47% 48% 52% / 74% 0% 100% 26%;
	position: absolute;
	top: 70px;
	left: 10px;
	background-color: #e4e4e4;
	transform: rotate(-15deg);
}
.front-auto__fara::before {
	content: '';
	width: 30px;
	height: 5px;
	position: absolute;
	top: 9px;
	left: 70px;
	background-color: #ce1319;
	transform: rotate(15deg);
	background-color: #828282;
	border-radius: 5px;
	opacity: 0.5;
}
.front-auto__fara::after {
	content: '';
	width: 20px;
	height: 5px;
	position: absolute;
	top: 20px;
	left: 65px;
	background-color: #ce1319;
	transform: rotate(15deg);
	background-color: #828282;
	border-radius: 5px;
	opacity: 0.5;
}
.front-auto__lens {
	height: 20px;
	width: 10px;
	border-radius: 52% 48% 51% 49% / 48% 48% 52% 52%;
	background-color: #0d0d0f;
	position: absolute;
	top: 12px;
	left: 50px;
	transform: rotate(15deg);
}
.front-auto__lens::before {
	content: '';
	height: 13px;
	width: 3px;
	border-radius: 52% 48% 51% 49% / 48% 48% 52% 52%;
	background-color: #878785;
	position: absolute;
	top: 3px;
	left: 2.5px;
}
.front-auto__lens_2 {
	top: 12px;
	left: 24px;
}
.front-auto__ptf {
	width: 15px;
	height: 30px;
	background-color: #e4e4e4;
	border-radius: 53% 47% 51% 49% / 48% 49% 51% 52%;
	position: relative;
	top: 170px;
	left: 45px;
	z-index: 6;
}
.front-auto__ptf::after {
	content: '';
	height: 10px;
	width: 7px;
	border-radius: 52% 48% 51% 49% / 48% 48% 52% 52%;
	background-color: #878785;
	position: absolute;
	top: 10px;
	left: 3px;
	transform: rotate(90deg);
}
.front-auto__ptf-decor {
	content: '';
	width: 30px;
	height: 40px;
	background-color: #1b1b1d;
	position: absolute;
	top: 167px;
	left: 35px;
	border-radius: 17% 83% 0% 100% / 48% 15% 85% 52%;
}
.auto__shadow-1 {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: #555354;
	position: absolute;
	top: 222px;
	left: 115px;
	z-index: 2;
}

.auto__space-1 {
	width: 210px;
	height: 105px;
	border-radius: 50%;
	background-color: #ffffff;
	position: absolute;
	top: 355px;
	left: 120px;
	z-index: 2;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	transform: rotate(180deg);
}
.auto__shadow-2 {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: #555354;
	position: absolute;
	top: 222px;
	left: 71%;
	z-index: 2;
}
.auto__space-2 {
	width: 210px;
	height: 105px;
	border-radius: 50%;
	background-color: #ffffff;
	position: absolute;
	top: 355px;
	left: 71%;
	z-index: 2;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	transform: rotate(180deg);
}

.auto__center {
	width: 840px;
	height: 230px;
	background-color: #434774;
	position: relative;
	left: 435px;
	top: -262px;
	border-radius: 68% 32% 100% 0% / 0% 88% 12% 100%;
}
.auto__center::before {
	content: '';
	position: absolute;
	top: 170px;
	left: 700px;
	background-color: #2f3252;
	width: 137px;
	height: 2px;
}
.center-auto {
}
.auto__top-1 {
	width: 250px;
	height: 100px;
	background-color: #434774;
	position: relative;
	top: -545px;
	left: 400px;
	transform: rotate(-22deg);
	border-radius: 77% 23% 100% 0% / 0% 34% 66% 100%;
	z-index: 2;
}
.top-auto-1 {
}

.auto__top-2 {
	width: 280px;
	height: 50px;
	position: relative;
	top: -645px;
	left: 850px;
	transform: rotate(212deg);
	background-color: #434774;
	border-radius: 56% 44% 100% 0% / 0% 0% 100% 100%;
	z-index: 2;
}
.top-auto-2 {
}
.auto__top-3 {
	width: 350px;
	height: 80px;
	position: relative;
	top: -740px;
	left: 588px;
	transform: rotate(0deg);
	background-color: #434774;
	border-radius: 53% 47% 100% 0% / 24% 46% 54% 76%;
	z-index: 2;
}
.top-auto-3 {
}
.auto__windshield {
	width: 230px;
	height: 20px;
	position: relative;
	top: -780px;
	left: 386px;
	transform: rotate(-20deg);
	background-color: #444444;
	border-radius: 72% 28% 0% 100% / 100% 100% 0% 0%;
	z-index: 1;
	border: 1px solid #0d0d0d;
}
.auto__side-glass {
	border-radius: 62% 38% 0% 100% / 51% 60% 40% 49%;
	transform: rotate(-2deg);
	width: 550px;
	height: 90px;
	background-color: #444444;
	border: 2px solid #18152a;
	position: relative;
	top: -800px;
	left: 450px;
	z-index: 3;
}
.auto__side-glass::after {
	content: '';
	height: 85px;
	width: 8px;
	border: 2px solid #18152a;
	position: absolute;
	top: 0;
	left: 350px;
	transform: rotate(5deg);
	background-color: #2a2a2a;
}
.auto__side-glass::before {
	content: '';
	height: 85px;
	width: 10px;
	border: 2px solid #18152a;
	position: absolute;
	top: 0;
	left: 359px;
	transform: rotate(5deg);
	background-color: #2a2a2a;
}
.auto__side-glass-2 {
}
.auto__rear-glass {
}
.auto__door {
	width: 410px;
	height: 150px;
	border-radius: 9% 91% 9% 91% / 87% 12% 88% 13%;
	background-color: #434774;
	border: 2px solid #2a2a2a;
	position: relative;
	top: -805px;
	left: 410px;
	z-index: 5;
	transform: rotate(-1deg);
}
.auto__door::before {
	content: '';
	width: 40px;
	height: 15px;
	border: 2px solid #2a2a2a;
	position: absolute;
	border-radius: 23% 77% 57% 43% / 87% 60% 40% 13%;
	left: 300px;
	top: 30px;
}
.auto__door::after {
	content: '';
	width: 30px;
	height: 5px;
	background-color: #2a2a2a;
	position: absolute;
	border-radius: 23% 77% 57% 43% / 87% 60% 40% 13%;
	left: 305px;
	top: 35px;
}

.door-auto__decor {
	height: 54px;
	width: 2px;
	position: absolute;
	top: -35px;
	left: 28px;
	background-color: #2a2a2a;
	transform: rotate(26deg);
}
.door-auto__decor-2 {
	height: 20px;
	width: 2px;
	position: absolute;
	top: -5px;
	left: 405px;
	background-color: #2a2a2a;
	transform: rotate(1deg);
}
.auto__threshold {
	width: 505px;
	height: 10px;
	position: relative;
	left: 400px;
	top: -765px;
	background-color: #2a2a2a;
	transform: rotate(-0.3deg);
}
.auto__air-intake {
	width: 30px;
	height: 60px;
	background-color: #515350;
	border-radius: 0% 100% 0% 100% / 85% 23% 77% 15%;
	border: 2px solid #2a2a2a;
	position: relative;
	top: -880px;
	left: 350px;
	transform: rotate(-20deg);
}
.auto__air-intake::before {
	content: '';
	height: 5px;
	width: 27px;
	background-color: #757575;
	position: absolute;
	top: 15px;
}
.auto__air-intake::after {
	content: '';
	height: 5px;
	width: 27px;
	background-color: #757575;
	position: absolute;
	top: 35px;
}
.auto__fara-2 {
	width: 70px;
	height: 30px;
	position: relative;
	background-color: #e61e21;
	border-radius: 72% 28% 50% 50% / 47% 73% 27% 53%;
	border: 1px solid #2a2a2a;
	transform: rotate(10deg);
	top: -980px;
	left: 1155px;
}
.auto__fara-2::before {
	content: '';
	width: 40px;
	height: 5px;
	position: absolute;
	top: 8px;
	left: 22px;
	background-color: #a3a3a3;
	transform: rotate(-9deg);
	border-radius: 10px;
}
.auto__fara-2::after {
	content: '';
	width: 30px;
	height: 10px;
	position: absolute;
	top: 45px;
	left: 65px;
	transform: rotate(-9deg);
	background-color: #e61e21;
	border-radius: 72% 28% 0% 100% / 0% 100% 0% 100%;
	border: 1px solid #2a2a2a;
}
.auto__exhaust {
	border-radius: 28% 72% 0% 100% / 100% 100% 0% 0%;
	border: 2px solid #2a2a2a;
	width: 50px;
	height: 30px;
	position: relative;
	top: -908px;
	left: 1215px;
	transform: rotate(-5deg);
	background-color: #2a2a2a;
}
